#artist {
    padding: 140px 0;
    position: relative;
    display: block;
    // .container-fluid {

    .about-section {
        align-items: center;

        .about-text {
            visibility: visible;
            animation-duration: 1000ms;
            animation-name: slideInLeft;
            max-width: 620px;
            margin-left: auto;
            padding: 0 50px;

            .sm-title {
                color: #000000;
                font-size: 44px;
                text-transform: capitalize;
                position: relative;
                padding-bottom: 29px;
                margin-bottom: 50px;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 87px;
                    height: 3px;
                    background-color: #00b9c6;
                }
            }

            span {
                display: block;
                color: #0f0101;
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 37px;
                font-weight: 700;
            }

            p {
                color: #000000;
                font-size: 18px;
                line-height: 36px;
                margin-bottom: 50px;
            }

            ul {
                list-style: none;

                li {
                    display: inline-block;
                    margin-right: 30px;

                    a {
                        font-size: 20px;
                        display: inline-block;
                        color: #000000;
                        transition: all 0.4s ease-in-out;

                        &:hover {
                            color: #f559a4;
                        }
                    }
                }
            }
        }

        .prz-thumb {
            .img-thumb {
                width: 100%;
            }
        }
    }

}

.musicVideo {
    padding: 120px 0;
    position: relative;

    .fixed-bg {
        background-image: url("../../public/image/slider3.jpg");
        background-attachment: fixed;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        background-position: center center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 3, 6, 0.67);
        }
    }

    .video {
        visibility: visible;
        animation-duration: 1000ms;
        animation-name: zoomIn;
        text-align: center;
        margin-bottom: -10px;

        .play-btn {
            display: inline-block;
            color: #fff;
            font-size: 30px;
            width: 140px;
            height: 140px;
            line-height: 140px;
            border: 1px solid #fff;
            border-radius: 50%;

            .MuiSvgIcon-root {
                width: 4rem;
                height: 2em;
            }
        }

        h3 {
            color: #fff;
            text-transform: capitalize;
            // font-size: 33px;
            font-weight: 500;
            // letter-spacing: 3px;
            margin-top: 25px;
        }
    }
}

.Gallery {
    padding: 140px 0;
    position: relative;

    .fixed-gal {
        background-color: #000000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        background-position: center center;
    }

    .gallery-section {
        .gallery-col {
            height: 100%;
            // padding: 0 12px;

            &.overlay2 {
                position: relative;

                &:hover {
                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }

                    .plus {
                        opacity: 1;
                        visibility: visible;
                        top: 50%;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 185, 198, 0.74);
                    transition: all 0.4s ease-in-out;
                    opacity: 0;
                    visibility: hidden;
                }
            }

            .plus {
                opacity: 0;
                visibility: hidden;
                transition: all 0.4s ease-in-out;
                position: absolute;
                top: 0%;
                left: 50%;
                transform: translate(-50%, -50%);

                .plus-icon {
                    opacity: 1;
                    visibility: visible;
                    display: inline-block;
                    color: #fff;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    // font-size: 30px;
                    width: 110px;
                    height: 110px;

                    text-align: center;
                    line-height: 110px;

                    svg {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

.gallery-col {
    height: 100%;
    // position: relative;
    &.overlay2 {
        position: relative;

        &:hover {
            &::before {
                opacity: 1;
                visibility: visible;
            }

            .plus {
                opacity: 1;
                visibility: visible;
                top: 50%;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 185, 198, 0.74);
            transition: all 0.4s ease-in-out;
            opacity: 0;
            visibility: hidden;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .plus {
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease-in-out;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);

        .plus-icon {
            opacity: 1;
            visibility: visible;
            display: inline-block;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 50%;
            // font-size: 30px;
            width: 110px;
            height: 110px;

            text-align: center;
            line-height: 110px;

            svg {
                font-size: 40px;
            }
        }
    }
}

// .overlay2 {
//     position: relative;
// }

// .masonary {
//     width: 100%;
// }