.Header {
    // background-color: purple;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding-top: 35px;

    .container-fluid {
        padding: 0 60px;
    }

    .header-content {

        // display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        .logo {
            padding-bottom: 20px;

            img {
                max-width: 161px;
                vertical-align: middle;
                height: auto;
                display: inline-block;
            }
        }

        nav {
            margin-left: auto;

            ul {

                .album {
                    position: relative;

                    &:hover {
                        .drop-menu {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    .drop-menu {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 200px;
                        background-color: #00b9c6;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.4s ease-in-out;
                        margin-top: 20px;

                        li {
                            display: block;
                            padding: 0;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.30);

                            a {
                                display: block;
                                text-transform: uppercase;
                                letter-spacing: 0;
                                padding: 15px;

                                &:hover {
                                    color: #fff;
                                    background-color: #fcb62b;
                                }
                            }
                        }
                    }
                }

                li {
                    display: block;
                    padding: 0 25px 20px;
                    position: relative;

                    .reqem {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }

                    a {
                        display: inline-block;
                        color: #ffffff;
                        text-decoration: none;
                        font-size: 15px;
                        text-transform: uppercase;
                        font-family: 'Barlow', sans-serif;
                        font-weight: 700;
                        letter-spacing: 2.4px;
                        transition: all 0.4s ease-in-out;

                        &:hover {
                            color: #00b9c6;
                        }
                    }
                }


            }


        }

        .social {
            ul {
                li {
                    margin-left: 18px;
                    padding-bottom: 20px;
                    color: #ffffff;
                    cursor: pointer;
                    transition: all 0.4s ease-in-out;

                    &:hover {
                        color: #f559a4;
                    }
                }



            }
        }

        .personal {
            margin-left: 15px;


            .account-ul {
                display: flex;
                margin-bottom: 40px;

                li {
                    a {
                        text-decoration: none;
                        color: #fff;
                        margin: 10px;
                        display: block;

                        &:hover {
                            color: #00b9c6;
                        }
                    }
                }
            }
        }

        .menu-bar {
            display: none;

            i {
                color: #fff;
            }
        }
    }

}

.main-block {
    padding: 16px;
    max-width: 900px;
    margin: 0 auto;
    font-size: 18px;
}

.fixedTop {
    width: 100%;
    padding: 12px 18px;
    position: fixed;
    top: 0;
    background: rgb(251, 4, 235);
}

.fixedTop+.main-block {
    padding-top: 102px;
}

@media (max-width:768px) {
    .Header {
        .header-content {
            nav {
                display: none;
            }

            .social {
                display: none;
            }

            .menu-bar {
                display: block;

                ul {
                    li {
                        display: block;
                        padding: 0 15px 10px;
                        position: relative;

                        .reqem {
                            position: absolute;
                            top: 0;
                            right: 0;
                        }

                        a {
                            display: inline-block;
                            color: #ffffff;
                            text-decoration: none;
                            font-size: 15px;
                            text-transform: uppercase;
                            font-family: 'Barlow', sans-serif;
                            font-weight: 700;
                            letter-spacing: 2.4px;
                            transition: all 0.4s ease-in-out;

                            &:hover {
                                color: #00b9c6;
                            }
                        }
                    }
                }

                i {
                    cursor: pointer;
                    transition: all .5s ease-in-out;
                }
            }

            .mobile-menu {
                .open-menu {
                    position: fixed;
                    top: 0;
                    // left: -250px;
                    width: 250px;
                    z-index: 9999;
                    height: 100%;
                    // overflow: auto;
                    transition: all 0.4s ease-in-out;
                    background-color: #00b9c6;

                    &.active {
                        left: 0;
                    }

                    .menu-item-has-children {
                        // position: relative;

                        a {
                            color: #fff;
                            font-size: 14px;
                            font-weight: 600;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
                            float: left;
                            width: 100%;
                            position: relative;
                            padding: 15px 10px;
                            svg{
                               
                                position: absolute;
                                top: 50%;
                                right: 10px;
                                transform: translateY(-50%);
                                // font-family: 'Font Awesome 5 Free';
                                color: #fff;
                                // font-weight: 900;
                                // font-size: 13px;
                            }
                        }

                        .second-open {
                            padding: 20px 0 20px 20px;
                            transition: .3s ease-in;
                            // position: absolute;
                            right: 0;
                            top: 0;
                            // background-color: red;
                            li {
                                float: left;
                                width: 100%;
                                a{
                                    color: #fff;

                                    border-bottom: 0;
                                    padding: 5px;
                                    margin-bottom: 15px;
                                    font-size: 14px;
                                    font-weight: 600;
                                    text-transform: uppercase;
                                    letter-spacing: 1px;
                                    border-bottom: 1px solid rgba(255,255,255,0.10);
                                    float: left;
                                    width: 100%;
                                    position: relative;
                                }
                            }
                        }
                    }

                    li {
                        float: left;
                        width: 100%;

                        a {
                            color: #fff;
                            text-decoration: none;
                            font-size: 14px;
                            font-weight: 600;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
                            float: left;
                            width: 100%;
                            position: relative;
                            padding: 15px 10px;
                            color: #fff;
                            font-size: 14px;
                            font-weight: 600;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
                            float: left;
                            width: 100%;
                            position: relative;
                            padding: 15px 10px;
                        }
                    }

                }
            }


        }
    }

}

@media (max-width:1336px) {
    .header {
        .container-fluid {
            padding: 0 15px;
        }
    }
}

@media (max-width:636px) {
    .Header {
        padding-top: 10px;

        .container-fluid {
            padding: 0 10px;

            // .header-content {
            //     .logo {
            //         a {
            //             // padding: 50px;

            //         }
            //     }
            // }
        }
    }
}