#LiveShow {
  #pager-section {
    .album-bg {
      background-image: url("../public/image/bg1.jpg") !important;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 3, 6, 0.67);
      }
    }
  }

  #background-clr {
    background-color: black;

    .section-title {
      padding-bottom: 35px;
      margin-bottom: 95px;
      position: relative;

    }
  }
}